<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook Checkbox Plugin Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '826661794148248',
      xfbml      : true,
      version    : 'v2.9'
    });

    FB.Event.subscribe('messenger_checkbox', function(e) {
      console.log("messenger_checkbox event");
      console.log(e);

      if (e.event == 'rendered') {
        console.log("Plugin was rendered");
      } else if (e.event == 'checkbox') {
        var checkboxState = e.state;
        console.log("Checkbox state: " + checkboxState);
      } else if (e.event == 'not_you') {
        console.log("User clicked 'not you'");
      } else if (e.event == 'hidden') {
        console.log("Plugin was hidden");
      }

    });

  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')
  );

  function confirmOrder() {
    FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
      'app_id': '826661794148248',
      'page_id': '1889282338015127',
      'ref': 'PASS_THROUGH_PARAM 1',
      'user_ref': '<%= userRef %>'
    });
    $('#confirmOrderButton').prop('value', "Objednávka byla úspěšně odeslána");
    $('#confirmOrderButton').prop('disabled', true);
    $('#confirmOrderButton').removeClass('btn-primary').addClass('btn-success');
  };

  function processOrder(userRef, orderId) {
    $.ajax({
      url: '/confirm',
      type: 'get',
      data: {
        userRef: userRef,
        orderId: orderId
      },
      success: function(response) {
        console.log("Messenger received order confirmation: " + response);
        $('#processOrderButton').prop('value', "Potvrzení objednávky bylo odesláno přes Messenger");
        $('#processOrderButton').removeClass('btn-primary').addClass('btn-success');
      },
      error: function(xhr) {
        console.log("Error while sending GET /confirm");
      }
    });
  };

  function sendDeliveryInfo(userRef, orderId) {
      $.ajax({
        url: '/deliveryInfo',
        type: 'get',
        data: {
          userRef: userRef,
          orderId: orderId
        },
        success: function(response) {
          console.log("Messenger received delivery information: " + response);
          $('#sendDeliveryInfoButton').prop('value', "Informace o času doručení byla odeslána přes Messenger");
          $('#sendDeliveryInfoButton').removeClass('btn-primary').addClass('btn-success');
        },
        error: function(xhr) {
          console.log("Error while sending GET /deliveryInfo");
        }
      });
    };

</script>

<h1>Facebook Messenger Checkbox Plugin Demo</h1>

<div class="container-fluid panel panel-default">
<h2>Objednávkový formulář</h2>
<p>Bude obsahovat data relevantní k objednávce a messenger checkbox:</p>
<h3>Objednávka č. <%= orderId %></h3>
<div class="fb-messenger-checkbox"
     origin="https://goodreservation.com:6443"
     page_id="1889282338015127"
     messenger_app_id="826661794148248"
     user_ref="<%= userRef %>"
     prechecked="true"
     allow_login="true"
     size="large"></div>
<br/>
<input type='button' id='confirmOrderButton' class='btn btn-primary' onclick='confirmOrder()' value='Odeslat objednávku'/>
</div>

<div class='container-fluid panel panel-default'>
<h2>Zpracování objednávky v aplikaci</h2>
<p>Až systém zpracuje objednávku, odešle zprávu s potvrzením objednávky do Messenger systému</p>
<input type='button' id='processOrderButton' class='btn btn-primary' onclick="processOrder('<%= userRef %>', '<%= orderId %>')" value="Zpracovat objednávku a potvrdit přes Messenger"/>
</div>

<div class='container-fluid panel panel-default'>
<h2>Odbavení objednávky</h2>
<p>Až bude objednávka odbavena, odešle systém zprávu o času doručení nebo vyzvednutí do Messenger systému</p>
<div class="form-group">
    <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control"/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //$('#datetimepicker1').datetimepicker({locale: 'cs'});
    });
</script>
<input type='button' id='sendDeliveryInfoButton' class='btn btn-primary' onclick="sendDeliveryInfo('<%= userRef %>', '<%= orderId %>')" value="Odeslat zprávu o času doručení nebo vyzvednutí přes Messenger"/>
</div>

</body>

</html>
